@import url(../vendors/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/logo/logo.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__list/header-nav__list.css);
@import url(../blocks/header/__item/header-nav__item.css);
@import url(../blocks/header/__time/header__time.css);
@import url(../blocks/header/__telefon/header__telefon.css);
@import url(../blocks/header/__contact/header__contact.css);
@import url(../blocks/header/__elipse/header__elipse.css);
@import url(../blocks/header/__vector/header__vector.css);
