@import url(../vendors/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__list/header__list.css);
@import url(../blocks/header/__navigation/header__navigation.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__text/header__text.css);
@import url(../blocks/header/__subtext/header__subtext.css);

@import url(../blocks/about/__header/about__header.css);
@import url(../blocks/about/__text/about__text.css);
@import url(../blocks/about/__paragraph/about__paragraph.css);